.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;

  h2 {
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
    text-transform: uppercase;
  }

  .btnWrapper {
    display: flex;
    justify-content: center;
    margin: 20px;
  }
}